<app-home></app-home>

<style>
    .header-bar{
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.myList{
    background-color: #FEF3E2;
    border: 2px solid #BEC6A0;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

    
}




</style>

<div class="myTable">
    <h2 class="grand-hotel-regular">Reservation List</h2>
    <div class="flex-item header-bar d-flex justify-content-between align-items-center">
        <div class="col">Guest</div>
        <div class="col">checkInDate</div>
        <div class="col">checkOutDate</div>
        <div class="col">guestEmail</div>
        <div class="col">roomNumber</div>
        <div class="col">Action</div>
    </div>
    <div>
        <div *ngIf="reservations.length;else noReservation">
            <div *ngFor="let reservation of reservations"  class="flex-item myList d-flex justify-content-between align-items-center">
                <div class="col">{{reservation.guestName}}</div>
                <div class="col">{{reservation.checkInDate}}</div>
                <div class="col">{{reservation.checkOutDate}}</div>
                <div class="col">{{reservation.guestEmail}}</div>
                <div class="col">{{reservation.roomNumber}}</div>
                <div class="col"> 
                    <button (click)="deleteReservation(reservation.id)"  class="btn btn-danger">Delete</button>
                    <button  [routerLink]="['/edit',reservation.id]" class="btn btn-success">Update</button>
                </div>
                
            </div>
            
        </div>
    </div>



    
</div>

<ng-template #noReservation>
    <p>No reservations</p>
</ng-template>
